<div class="px-5 pt-4">
    <form [formGroup]="formBrand">
        <div class="p-fluid grid">
            <div class="field col-12">
                <span class="p-float-label">
                    <input pInputText id="nombre" formControlName="nombre" required />
                    <label htmlFor="nombre">Nombre</label>
                    <div *ngIf="formBrand.get('nombre').invalid && (formBrand.get('nombre').dirty || formBrand.get('nombre').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formBrand.get('nombre').errors?.['required']" class="alert alert-danger">
                            Nombre es requerido
                        </div>
                        <div *ngIf="formBrand.get('nombre').errors?.['minlength']">
                            El nombre debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formBrand.get('nombre').errors?.['maxlength']">
                            El nombre debe tener como máximo 10 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="field col-12">
                <span class="p-float-label">
                    <textarea pInputTextarea id="descripcion" formControlName="descripcion" required></textarea>
                    <label htmlFor="descripcion">Descripcion</label>
                    <div *ngIf="formBrand.get('descripcion').invalid && (formBrand.get('descripcion').dirty || formBrand.get('descripcion').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formBrand.get('descripcion').errors?.['required']" class="alert alert-danger">
                            Descripción es requerido
                        </div>
                        <div *ngIf="formBrand.get('descripcion').errors?.['minlength']">
                            Descripcion debe tener como mínimo 10 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="field col-12">
                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                    (onSelect)="onSelect($event)" accept="image/*" [auto]="true" [maxFileSize]="1000000"
                    chooseLabel="Escoger">
                    <ng-template pTemplate="content">
                        <ul *ngIf="selectedFiles.length">
                            <li *ngFor="let file of selectedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>
    </form>
    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Agregar marca" (click)="addBrand()">
        </button>
    </div>
</div>