<div class="px-5 pt-4">
    <form [formGroup]="formInventory">

        <div class="p-fluid grid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="codigoVin" formControlName="codigoVin" required />
                    <label htmlFor="codigoVin">Codigo Vin</label>
                    <div *ngIf="codigoVin.invalid && (codigoVin.dirty || codigoVin.touched)" class="alert">
                        <div *ngIf="codigoVin.errors?.['vinCodeValidator']">
                            Los primeros 12 digitos del Codigo VIN deben ser alfanuméricos y el resto numérico.
                        </div>
                    </div>
                </span>
            </div>

            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <input pInputText id="codigoColor" formControlName="codigoColor" required />
                    <label htmlFor="codigoColor">Color</label>
                    <div *ngIf="codigoColor.invalid && (codigoColor.dirty || codigoColor.touched)" class="alert">
                        <div *ngIf="codigoColor.errors?.['invalidHexColor']">
                            El codigo de color tiene que ser en codigo hexadecimal.
                        </div>
                    </div>
                </span>
            </div>

            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <p-dropdown [options]="listaModelo" optionLabel="nombre" optionValue="_id"
                        formControlName="modelo"></p-dropdown>
                </span>
            </div>

            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <p-dropdown [options]="listaProveedor" optionLabel="nombre" optionValue="_id"
                        formControlName="proveedor"></p-dropdown>
                </span>
            </div>

            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <p-dropdown [options]="listaStatus" optionLabel="nombre" optionValue="_id" appendTo="body"
                        formControlName="estado"></p-dropdown>
                </span>
            </div>

        </div>

    </form>

    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Guardar Cambios" (click)="updateMoto(this.config.data.id)">
        </button>
    </div>

</div>