<div class="px-5 pt-4">
    <form [formGroup]="formSupplier">
        <div class="p-fluid grid">

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="nombre" formControlName="nombre" required readonly />
                    <label htmlFor="nombre">Nombre</label>
                </span>
            </div>

            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <input pInputText id="telefono" formControlName="telefono" required readonly />
                    <label htmlFor="telefono">Telefono</label>
                </span>
            </div>
            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <input pInputText id="correo" formControlName="correo" required readonly />
                    <label htmlFor="correo">Correo</label>
                </span>
            </div>
            <div class="field col-12  md:col-4">
                <span class="p-float-label">
                    <input pInputText id="direccion" formControlName="direccion" required readonly />
                    <label htmlFor="direccion">Direccion</label>
                </span>
            </div>
        </div>
    </form>
</div>