<div class="grid justify-content-center">

    <div class="field col-12 text-center">
        <button pButton class="b-primary px-5 py-2 mx-2" label="Agregar Campaña" (click)="openRegister()">
        </button>
    </div>

    <div class="col-12">
    
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha fin</th>
                    <th>Archivos</th>
                    <th>Descripcion</th>
                    <th>Estado</th>                
                    <th class="text-center">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-campaing>
                <tr>
                    <td>{{campaing.nombre}}</td>
                    <td>{{campaing.fecha_inicio}}</td>
                    <td>{{campaing.fecha_fin}}</td>
                    <td>{{campaing.archivos}}</td>
                    <td>{{campaing.descripcion}}</td>     
                    <td>{{campaing.estado}}</td>           
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-eye" pTooltip="Ver Detalle"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised mr-2"
                            (click)="openVisualizeDialog(campaing._id)"></button>
                        <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised mr-2"
                            (click)="openUpdateDialog(campaing._id)"></button>
                        <button pButton pRipple icon="pi pi-trash" pTooltip="Eliminar"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised"
                             (click)="deleteCampaing(campaing._id)"></button>
                    </td>
                </tr>
            </ng-template>
    </div>

</div>