<div class="px-5 pt-4">
    <h2>Datos del Cliente</h2>
    <form [formGroup]="formSale">
        <div class="p-fluid grid">
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="cliente" formControlName="cliente" required />
                    <label htmlFor="cliente">Cliente</label>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="moto" formControlName="moto" required />
                    <label htmlFor="moto">Moto</label>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="fecha_entrega" formControlName="fecha_entrega" required />
                    <label htmlFor="fecha_entrega">Fecha Entrega</label>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="metodo_pago" formControlName="metodo_pago" required />
                    <label htmlFor="metodo_pago">Metodo Pago</label>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="monto" formControlName="monto" required />
                    <label htmlFor="monto">Monto</label>
                </span>
            </div>        
    </div>
    </form>
    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Volver" (click)="close()">
        </button>
    </div>
</div>