<div class="px-5 pt-4">
    <form [formGroup]="formEmployee">
        <div class="p-fluid grid">
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="usuario" formControlName="usuario" required />
                    <label htmlFor="usuario">Usuario</label>
                    <div *ngIf="formEmployee.get('usuario').invalid && (formEmployee.get('usuario').dirty || formEmployee.get('usuario').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('nombres').errors?.['alphnumeric']">
                            El nombre debe estar escrito en caracteres alfanumpericos.
                        </div>
                        <div *ngIf="formEmployee.get('usuario').errors?.['minlength']">
                            El nombre debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('usuario').errors?.['maxlength']">
                            El nombre debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="contraseña" formControlName="contraseña" required />
                    <label htmlFor="contraseña">contraseña</label>
                    <div *ngIf="formEmployee.get('contraseña').invalid && (formEmployee.get('contraseña').dirty || formEmployee.get('contraseña').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('contraseña').errors?.['password']">
                            La contraseña tiene que contener caracteres tanto numéricos como alfabéticos.
                        </div>
                        <div *ngIf="formEmployee.get('contraseña').errors?.['minlength']">
                            La contraseña debe tener como mínimo 8 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('contraseña').errors?.['maxlength']">
                            La contraseña debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="nombres" formControlName="nombres" required />
                    <label htmlFor="nombres">Nombre</label>
                    <div *ngIf="formEmployee.get('nombres').invalid && (formEmployee.get('nombres').dirty || formEmployee.get('nombres').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('nombres').errors?.['alphabetic']">
                            El nombre debe estar escrito en caracteres alfabéticos.
                        </div>
                        <div *ngIf="formEmployee.get('nombres').errors?.['minlength']">
                            El nombre debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('nombres').errors?.['maxlength']">
                            El nombre debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="apellido_paterno" formControlName="apellido_paterno" required />
                    <label htmlFor="apellido_paterno">Apellido Paterno</label>
                    <div *ngIf="formEmployee.get('apellido_paterno').invalid && (formEmployee.get('apellido_paterno').dirty || formEmployee.get('apellido_paterno').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('apellido_paterno').errors?.['alphabetic']">
                            El apellido paterno debe estar escrito en caracteres alfabéticos.
                        </div>
                        <div *ngIf="formEmployee.get('apellido_paterno').errors?.['minlength']">
                            El apellido paterno debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('apellido_paterno').errors?.['maxlength']">
                            El apellido paterno debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="apellido_materno" formControlName="apellido_materno" required />
                    <label htmlFor="apellido_materno">Apellido Materno</label>
                    <div *ngIf="formEmployee.get('apellido_materno').invalid && (formEmployee.get('apellido_materno').dirty || formEmployee.get('apellido_materno').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('apellido_materno').errors?.['alphabetic']">
                            El apellido materno debe estar escrito en caracteres alfabéticos.
                        </div>
                        <div *ngIf="formEmployee.get('apellido_materno').errors?.['minlength']">
                            El apellido materno debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('apellido_materno').errors?.['maxlength']">
                            El apellido materno debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class=" col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="telefono" formControlName="telefono" required />
                    <label htmlFor="telefono">Telefono</label>
                    <div *ngIf="formEmployee.get('telefono').invalid && (formEmployee.get('telefono').dirty || formEmployee.get('telefono').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('telefono').errors?.['numeric']">
                            El telefono debe estar escrito en caracteres numéricos.
                        </div>
                        <div *ngIf="formEmployee.get('telefono').errors?.['minlength']">
                            El telefono debe tener como mínimo 9 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('telefono').errors?.['maxlength']">
                            El telefono debe tener como máximo 9 caracteres.
                        </div>
                    </div>
                </span>
            </div>
            <div class=" col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="correo" formControlName="correo" required />
                    <label htmlFor="correo">Correo</label>
                    <div *ngIf="formEmployee.get('correo').invalid && (formEmployee.get('correo').dirty || formEmployee.get('correo').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('correo').errors?.['email']">
                            El correo debe tener el siguiente formato: aaa@aaa.aaa.
                        </div>
                        <div *ngIf="formEmployee.get('correo').errors?.['minlength']">
                            El correo debe tener como mínimo 4 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('correo').errors?.['maxlength']">
                            El correo debe tener como máximo 20 caracteres.
                        </div>
                    </div>
                </span>
            </div>

            <div class=" col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="documento_identificador" formControlName="documento_identificador" required />
                    <label htmlFor="documento_identificador">Numero de Documento</label>
                    <div *ngIf="formEmployee.get('documento_identificador').invalid && (formEmployee.get('documento_identificador').dirty || formEmployee.get('documento_identificador').touched)"
                        class="alert alert-danger">
                        <div *ngIf="formEmployee.get('adocumento_identificador').errors?.['numeric']">
                            El DNI debe estar escrito en caracteres numéricos.
                        </div>
                        <div *ngIf="formEmployee.get('documento_identificador').errors?.['minlength']">
                            El nombre debe tener como mínimo 8 caracteres.
                        </div>
                        <div *ngIf="formEmployee.get('documento_identificador').errors?.['maxlength']">
                            El nombre debe tener como máximo 8 caracteres.
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </form>
    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Guardar Cambios"
            (click)="updateEmployee(this.config.data.id)">
        </button>
    </div>

</div>