<div class="px-5 pt-4">
    <form [formGroup]="formCategory">
        <div class="p-fluid grid">
           
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText id="nombre" formControlName="nombre" required />
                    <label htmlFor="nombre">Nombre</label>
                </span>
            </div>
        </div>          
        </form>
    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Guardar Cambios"
            (click)="updateCategory(this.config.data.id)">
        </button>
    </div>

</div>