<div class="grid justify-content-center">

    <div class="field col-12 text-center">
        <button pButton class="b-primary px-5 py-2 mx-2" label="Agregar Modelo" (click)="openRegisterDialog()">
        </button>
    </div>

    <div class="col-12">
        <p-table [value]="lModelo" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} resultados"
            [rowsPerPageOptions]="[5, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Año</th>
                    <th>Motor</th>
                    <th>Velocidad</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-modelo>
                <tr>
                    <td>{{modelo.nombre}}</td>
                    <td>{{modelo.marca.nombre}}</td>
                    <td>{{modelo.categoria.nombre}}</td>
                    <td>{{modelo.precio}}</td>
                    <td>{{modelo.anio}}</td>
                    <td>{{modelo.motor}}</td>
                    <td>{{modelo.velocidades}}</td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-eye" pTooltip="Ver Detalle"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised mr-2"
                            (click)="openVisualizeDialog(modelo._id)"></button>
                        <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised mr-2"
                            (click)="openUpdateDialog(modelo._id)"></button>
                        <button pButton pRipple icon="pi pi-trash" pTooltip="Eliminar"
                            class="p-button-rounded p-button-text p-button-primary p-button-raised"
                            (click)="deleteModelo(modelo._id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>