<div class="px-5 pt-4">

    <form [formGroup]="formBrand">
        <div class="p-fluid grid">
            <!--Nombre-->
            <div class="field col-12">
                <span class="p-float-label">
                    <input pInputText id="nombre" formControlName="nombre" required />
                    <label htmlFor="nombre">Nombre</label>
                </span>
            </div>
            <div class="field col-12">
                <span class="p-float-label">
                    <textarea pInputTextarea id="descripcion" formControlName="descripcion" required></textarea>
                    <label htmlFor="descripcion">Descripcion</label>
                </span>
            </div>
            <div class="field col-12">
                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onSelect)="onSelect($event)" accept="image/*" [auto]="true" [maxFileSize]="1000000" chooseLabel="Reemplazar">
                    <ng-template pTemplate="content">
                        <ul *ngIf="selectedFiles.length">
                            <li *ngFor="let file of selectedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>

        </div>
    </form>

    <div class="col-12 text-center py-3">
        <button pButton class="b-primary px-5 py-2" label="Guardar Cambios"
            (click)="updateBrand(this.config.data.id)">
        </button>
    </div>
</div>